<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TicTacToe</title>
  <link rel="stylesheet" href="{% static "css\bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "css\styles.css" %}" />
  <script src="{% static "js\jquery-1.11.3.min.js" %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron" style="background-color:yellow; text-align:center">
        <h1>TicTacToe</h1>      
      </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2" id="d11">
        &nbsp 
      </div>
      <div class="col-sm-2" id="d12">
        &nbsp 
      </div>
      <div class="col-sm-2" id="d13">
        &nbsp 
      </div>
      <div class="col-sm-4">
        <h1 id="winner">
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2" id="d21">
        &nbsp 
      </div>
      <div class="col-sm-2" id="d22">
        &nbsp 
      </div>
      <div class="col-sm-2" id="d23">
        &nbsp 
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2" id="d31">
        &nbsp 
      </div>
      <div class="col-sm-2" id="d32">
        &nbsp 
      </div>
      <div class="col-sm-2" id="d33">
        &nbsp 
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  
  <script src="{% static "js\tictactoe.js" %}"></script>
</body>
</html>